body {
    margin: 0;
    font-family: Arial;
    background: #141414;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: black;
}

.nav-buttons button {
    margin-left: 8px;
    padding: 6px 10px;
    background: #e50914;
    border: none;
    color: white;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap: 15px;
    padding: 20px;
}

.card img {
    width: 100%;
    border-radius: 6px;
}

#player iframe {
    width: 100%;
    height: 70vh;
    border: none;
}

.episode-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px,1fr));
    gap: 10px;
}

.ep-btn {
    background: #222;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.ep-btn.active {
    background: #e50914;
}

.admin {
    padding: 20px;
}

.admin input, .admin select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
